
/target
/Amiibo Bin Dump
/node_modules
/villagers
Villager list (New Horizons) | Animal Crossing Wiki | Fandom_files
/download_nh_images.js
/index.js
/package.json
/package-lock.json
/pimiibo
/prep_files-ac.js
/Villager list-pre.json
/index.html
/images
/public/images/*
/public/amiibo/*
!/public/amiibo/test
**/*.bin
**/.DS_Store
*.txt
amiibo_images
