/target


#Added by cargo
#
#already existing elements were commented out

#/target
/Amiibo Bin Dump
/node_modules
/villagers
Villager list (New Horizons) | Animal Crossing Wiki | Fandom_files
/download_nh_images.js
/index.js
/package.json
/package-lock.json
/pimiibo
/prep_files-ac.js
/Villager list-pre.json
/index.html
/images
/public/images/*
/public/villagers/*
/public/key_retail.bin
